.add{
  position: fixed;
  bottom:5%;
  right:5%;
  height:3.5rem;
  width: 3.5rem;
  border-radius: 1.7rem;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background:white;
  color:black;
  border:none;
  outline:none;  
}
.home{
  padding:5rem;
  margin-top:5%;
}

.add:focus,.add:active{
  border:none;
  outline:none;
}

.add span{
  font-size: 2.9rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

@media(max-width: 800px){
  .home{
  margin-top: 12vh;
  padding: 2rem;
  }
}