html {
  font-family: sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-size:62.5%;
  background:#121212;
  color:white;
  
}

body {
  margin: 0;
}

a{
  text-decoration: none;
  color: #357ae8;
  font-weight: 500;
}
